body {
    background-image: url(image1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.heading1 {
    color: whitesmoke;
}
.heading2 {
    color: whitesmoke;
}
.paragraph1 {
    color: whitesmoke;
}
.heading3 {
    color: whitesmoke;
}
.paragraph2 {
    color: whitesmoke;
}
.heading4 {
    color: whitesmoke;
}
.paragraph3 {
    color: whitesmoke;
}
.heading5 {
    color: whitesmoke;
}
.paragraph4 {
    color: whitesmoke;
}
.heading6 {
    color: whitesmoke;
}
.paragraph5 {
    color: whitesmoke;
}
