body {
    background-image: url(image1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.heading1 {
    color: whitesmoke;
}
.heading3 {
    color: whitesmoke;
}
.heading4 {
    color: whitesmoke;
}
.paragraph1 {
    color: whitesmoke;
}
